// ------------------------------------------------------------
// Defines the default execution profile for UNAV HPC cluster
// ------------------------------------------------------------

profiles {
  'unavcluster' {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = 'singularity_images' 
  }
}

// ------------------------------------------------------------
// Defines resource allocation for different processes 
// Some sections of this config file were adapted from crukmi.config file at https://nf-co.re/configs/crukmi/
// ------------------------------------------------------------

process {
  resourceLimits = [
      memory: 128.GB,
      cpus: 32,
      time: 72.h
  ]
  executor = 'slurm'
  queue    = 'short'
  // queue    = { task.memory <= 48.GB ? 'short' : 'medium' }
  errorStrategy  = { task.exitStatus in [143, 137, 104, 134, 139, 140] ? 'retry' : 'finish' }
  maxErrors      = '-1'
  maxRetries     = 3

  // Default resources for lightweight tasks such as FASTQC and MULTIQC 
  scratch = true
  cpus = 4
  memory = 8.GB
  maxRetries = 2          // retry failed tasks up to 2 times
  errorStrategy = 'retry' // retry on failure
  // time = '30m'

  withName: 'TRIM_GALORE' {
    scratch = true
    cpus = 8
    memory = 12.GB
    maxRetries = 2
    errorStrategy = 'retry'
    // time = '1h'
  }

  withName: 'KALLISTO_QUAN' {
    scratch = true
    cpus = 8
    memory = 24.GB  
    maxRetries = 2
    errorStrategy = 'retry'
    // time = '1h'
  }
}

// ------------------------------------------------------------
// Defines the output folder of the report, timeline, and trace files
// ------------------------------------------------------------

report {
    enabled = true
    file    = 'reports/report.html' 
}
timeline {
    enabled = true
    file    = 'reports/timeline.html'   
}
trace {
    enabled = true
    file    = 'reports/trace.txt'
}