nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-single-end/.nextflow
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-single-end/images/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-single-end/results/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-single-end/work/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-single-end/.nextflow.log

nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-paired-end/.nextflow
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-paired-end/images/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-paired-end/results/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-paired-end/work/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-paired-end/.nextflow.log

nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-transcriptomics-se/data/aligned/*.tar.gz
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-transcriptomics-se/data/reads/*.fastq.gz
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-transcriptomics-se/.nextflow
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-transcriptomics-se/images/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-transcriptomics-se/results/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-transcriptomics-se/work/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-transcriptomics-se/.nextflow.log

nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-se/data/aligned/*.idx
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-se/data/reads/*.fastq.gz
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-se/.nextflow
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-se/images/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-se/results/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-se/work/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-se/.nextflow.log

nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-pe/data/aligned/*.idx
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-pe/data/reads/*.fastq.gz
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-pe/.nextflow
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-pe/images/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-pe/results/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-pe/work/
nextflow-pipelines/manual-workflows/rnaseq-pipeline-hpc-diy-kallisto-pe/.nextflow.log

nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-kallisto-pe/data/genomes/GRCh38/*.gz
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-kallisto-pe/data/reads/*.fastq.gz
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-kallisto-pe/.nextflow
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-kallisto-pe/singularity_images/
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-kallisto-pe/results/
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-kallisto-pe/work/
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-kallisto-pe/.nextflow.log

nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/data/genomes/GRCh38/*
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/data/reads/*.fastq.gz
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/.nextflow*
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/singularity_images/
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/results_sra_srp479528_samples_44/
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/results_sra_srp357925_samples_42/
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/work/
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/reports-pipeline-setup/reports_salmon_crc_1sample/salmon
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/reports-pipeline-setup/reports_salmon_crc_1sample_autostranded/salmon

*.err
*.out