# ---- Nextflow common ----
**/.nextflow*
**/work/
**/results*/
**/images/
**/singularity_images/

# ---- Data files ----
**/data/reads/*.fastq.gz
**/data/aligned/*.tar.gz
**/data/aligned/*.idx
#**/data/genomes/**/*.gz
#**/data/genomes/**/*

nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-kallisto-pe/data/genomes/GRCh38/*.gz
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/data/genomes/GRCh38/*

nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/results_sra_srp479528_samples_44/
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/results_sra_srp357925_samples_42/
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/results_gencode_samples_42/
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/results_gencode_samples_44/

nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/reports-pipeline-setup/reports_salmon_crc_1sample/salmon
nextflow-pipelines/nf-core-rnaseq/nf-core-rnaseq-salmon-pe/reports-pipeline-setup/reports_salmon_crc_1sample_autostranded/salmon
