rnaseq-pipeline-hpc/.nextflow
rnaseq-pipeline-hpc/images/
rnaseq-pipeline-hpc/results/
rnaseq-pipeline-hpc/work/
rnaseq-pipeline-hpc/.nextflow.log

rnaseq-pipeline-hpc-diy-transcriptomics/data/aligned/*.tar.gz
rnaseq-pipeline-hpc-diy-transcriptomics/data/reads/*.fastq.gz
rnaseq-pipeline-hpc-diy-transcriptomics/results