/*
 * Default params
 */
params.reads = "${projectDir}/data/single-end.csv"
params.transcriptome = "${projectDir}/data/aligned/genome_index.tar.gz"
params.outdir = "results"
params.outimages = "images"

/*
 * Defines resource allocation for different processes 
 */

process {
  cpus = 2
  memory = 4.GB
}

/*
 * Defines execution profiles for different environments
 */

profiles {
  'docker' {
    docker.enabled = true
  }

  'batch' {
    docker.enabled = true
    process.executor = 'awsbatch'
    process.queue = 'nf-queue'
    workDir = 's3://nextflow-for-rnaseq/test_env'
    aws.region = 'eu-west-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }

  'unavcluster' {
    singularity.enabled = true
    singularity.cacheDir = "${params.outimages}" 
    process.executor = 'slurm'
    process.queue = 'short'
  }

  'batch' {
    docker.enabled = true
    process.executor = 'awsbatch'
    process.queue = 'nf-queue'
    workDir = 's3://nextflow-for-rnaseq/test_env'
    aws.region = 'eu-west-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}

/*
 * Defines the output folder of the report, timeline, and trace files
 */

report {
    enabled = true
    file    = "${params.outdir}/report.html"
}
timeline {
    enabled = true
    file    = "${params.outdir}/timeline.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/trace.txt"
}


