// ============================================================
// CESGA PROFILE — optimized for nf-core pipelines on SLURM
// ============================================================


profiles {
  cesga {

    workDir = '/mnt/lustre/scratch/nlsas/home/otras/cim/smv/nf-work'

    // ---------------------------
    // Container runtime settings
    // ---------------------------
    singularity {
      enabled = true
      autoMounts = true
      cacheDir = '/mnt/lustre/scratch/nlsas/home/otras/cim/smv/singularity_images'
    }

    // ---------------------------
    // Process execution defaults
    // ---------------------------
    process {
      executor = 'slurm'
      scratch = true

      queueSize = 30 // Maximum concurrent queued jobs
      maxForks = 20  // Maximum task per process i.e. FASTQC
      submitRateLimit = '30/2min' // 10 jobs each 30 seconds i.e. '50/2min' or '10/30sec'
      
      clusterOptions = {
        def partition = task.memory <= 48.GB ? 'short' : 'medium'
        return "--partition=${partition}"
      }

      // ---------------------------
      // Default resources
      // ---------------------------
      cpus = 4
      memory = { 16.GB * task.attempt }
      time = '4h'

      // Limits
      resourceLimits = [
        memory: 128.GB,
        cpus: 32,
        time: 72.h
      ]

      // ---------------------------
      // Robust retry strategy
      // ---------------------------
      maxRetries = 3
      maxErrors = 5
      retryInterval = '2min'

      errorStrategy = { 
        task.exitStatus in [143, 137, 104, 134, 139, 140] ? 'retry' : 'finish' 
      }
    }

    // ---------------------------
    // Reports and logging
    // ---------------------------
    report {
      enabled = true
      file = 'reports/report.html'
    }

    timeline {
      enabled = true
      file = 'reports/timeline.html'
    }

    trace {
      enabled = true
      file = 'reports/trace.txt'
    }
  }
}
