//===========================================================
// Profile for Finisterrae III (Slurm + Apptainer)
//===========================================================

params {
       config_profile_description = 'Finisterrae III (Slurm + Apptainer)'
       config_profile_contact     = 'mmt / cim'
       config_profile_url         = 'https://www.cesga.es/'

       //Cluster Hard Limits
       max_cpus   = 32
       max_memory = 180.GB
       max_time   = '70h' // aprox. 3 days (medium qos)

       //Paths
       home   = System.getenv('HOME')
       store  = System.getenv('STORE')
       lustre = System.getenv('LUSTRE')

}

apptainer {
         enabled      = true
         autoMounts   = true
         cacheDir     = "${params.store}/nf-core-workflows"
         //libraryCache = "${params.store}/nf-core-workflows"
         runOptions   = "-B ${params.store}:${params.store} -B ${params.lustre}:${params.lustre}"

}

// directories for the pipeline

process {
        executor = 'slurm'
        queue = 'medium'

        withLabel: 'process_high'               {memory = 32.GB; cpus = 12; time = 24.h }
        withLabel: 'process_medium'             {memory = 10.GB; cpus = 2; time = 7.h }
        withLabel: 'process_single'             {memory = 5.GB; cpus = 1; time = 4.h }
        withLabel: 'process_low'                {memory = 5.GB; cpus = 1; time = 5.h }
        withLabel: 'process_medium_long'        {memory = 15.GB; cpus = 4; time = 24.h }
        withLabel: 'local'                      {executor = "local" }

        // Global Resources Limits
        resourceLimits = [
                cpus   : 32,
                memory : 180.GB,
                time   : 70.h
                ]
}
